<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="tree-content">
            <form action="/tree" method="POST">
                <b>Your Tree: </b></br> 
                <%= theTree %>
        </form>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>